// 외부 scss @use 불러오기
@use './common.scss' as *;

// 변수 적용 선택자
main
{
    width: 500px;/* 개별 */
    @include flex-center;/* 공통 */
    @include bg1;/* 공통속성과 같은 mixin -> include */
    background-image: url();/* 개별 속성값은 따로 적기 */
    h1 {
        color: $color_auqa;
    }

    p {
        color: $color_red;
        &:hover{color: $color_blue;} //scss 에서 &는 바로 앞에 태그를 연결한다는 의미로 필수로 사용해야한다.
    }

    .box {
        background-color: #ff0;
        input
        {
            &:hover{background-color: aqua;}
            &[type=text]{border: 1px solid black;}
        }
        span
        {
            &:nth-child(3){background-color: red;}
            background-color: #111;
            color: #fff;            
        }
    }
}