$color_sky: lightblue;
$color_white: white;
$color_gray: gray;

$font_small:0.835rem;

@mixin display{
    width: 420px;
    height: 640px;
    margin: 50px auto;
}

@mixin flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flex-col{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin padding_x15
{
    padding: 0 15px;
}

@mixin padding_b
{
    padding-bottom: 5px;
}